.store {
  .select {
    display: flex;
    font-weight: 600;
  }

  .selectBtn {
    button {
      font-weight: 600;
      background-color: #cbd1d6;
      border-color: #cbd1d6;
      color: rgb(126, 125, 125);
    }
    .storeBtn {
      background-color: #1265b3;
      border-color: #1265b3;
      color: white;
    }
  }
}
